.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  perspective: 2000px;
  -webkit-perspective: 2000px;
}

.scroll-stack-inner {
  padding: 0;
  position: relative;
  transform-style: preserve-3d;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
  margin: 30px 0;
  box-sizing: border-box;
  
  /* Font smoothing for stable text rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Force GPU layer */
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  perspective: 1000px;
  -webkit-perspective: 1000px;
  
  position: relative;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .scroll-stack-inner {
    padding: 15vh 2rem 30rem;
  }
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
