.silk-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.silk-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
